.form-control:focus {color: unset;background-color: unset;border-color: #045da7; outline: unset;box-shadow: unset;}

.form-control.error, .form-control.error:focus { border-color: rgb(187, 8, 8);}


.form-wrapper {}
.form-wrapper table {width: 100%; border: 1px solid #ddd;}
.form-wrapper table td {padding: .75em; border-bottom: 1px solid #dfdfdf;}
.form-wrapper table td.title {width: 160px;}
.form-wrapper table textarea {height: 180px;}
.form-wrapper table td.require::after {display: inline-block; content: '*'; color: #f10; margin-left: .5em; font-size: 1.25em;}




.form-wrapper .valid { padding-top : .5em; color:#045da7; }
.form-wrapper .valid.error { color:rgb(187, 8, 8); }
