<header class="header-wrapper">
	<h1 class="logo"><a href="/book/list">도서관리시스템</a></h1>
	<nav class="navi-wrap">
		<a href="/book/form" class="navi">도서등록</a>
		<a href="/book/list" class="navi">도서리스트</a>
	</nav>
</header>

<section class="title-wrapper">
	<div class="wrapper">
		<h2 class="title-wrap"><%= title %></h2>
		<p class="desc-wrap"><%= description %></p>
		<div class="btn-wrap">
			<a href="/book/form" class="btn btn-primary">도서등록</a>
		</div>
	</div>
</section>